[submodule "public"]
	path = public
	url = git@github.com:yellowssi/yellowssi.github.io.git
	branch = master
[submodule "themes/even"]
	path = themes/even
	url = https://github.com/olOwOlo/hugo-theme-even
